body {
  font-family: Roboto, Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

code {
  font-family: DM Mono, monospace;
}

@font-face {
  font-family: Han;
  font-style: italic;
  src: local("PingFang SC"), local("Hiragino Sans GB"), local("Heiti SC"), local("Microsoft YaHei"), local("WenQuanYi Micro Hei");
}

:not(pre) > code {
  color: #50a14f;
}

a.heading-link {
  margin-right: 0.3rem;
  vertical-align: middle;
}

#toc + ul, #toc + ul ul {
  padding-inline-start: 2em;
}

#toc + ul p {
  margin-top: 0;
  margin-bottom: 0;
}

.wrap-around {
  display: inline-block;
  width: 100%;
}

.wrap-around :first-child {
  float: left;
  margin-right: 0.5em;
}

html {
  scroll-padding-top: calc(64px + 1em);
}
