body {
  font-family: Roboto, "Noto Sans SC", arial, sans-serif;
  margin: 0;
  background-color: #111111;
}

code {
  font-family: Source Code Pro, monospace;
}

canvas.fireworks {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  pointer-events: none
}
