---
import { getCollection } from 'astro:content'
import PostLayout from '@/layouts/PostLayout.astro'
import Giscus from '@/components/Giscus'

export async function getStaticPaths() {
  const posts = await getCollection('posts')
  return posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { title, pubDate, updDate, description } = entry.data
const { Content } = await entry.render()
---

<PostLayout {title} {pubDate} {updDate} {description}>
  <Content />
  <div class="min-h-[26rem]">
    <Giscus client:visible={{ rootMargin: '200px' }} />
  </div>
</PostLayout>
