---
// import { Search } from 'lucide-react'
// import { Input } from './ui/input'
import ThemeToggle from './ThemeToggle'
import HeaderSheet from './HeaderSheet'
---

<header class="sticky top-0 flex h-16 items-center gap-4 border-b bg-background px-4 md:px-6">
  <nav
    class="hidden flex-col gap-6 text-lg font-medium md:flex md:flex-row md:items-center md:gap-5 md:text-sm lg:gap-6"
  >
    <!-- <a href="#" class="flex items-center gap-2 text-lg font-semibold md:text-base">
      <Home className="h-6 w-6" />
      <span class="sr-only">Home</span>
    </a> -->
  </nav>
  <HeaderSheet client:load />
  <div class="flex w-full items-center gap-4 md:ml-auto md:gap-2 lg:gap-4">
    <a href="/" class="text-muted-foreground transition-colors hover:text-foreground">myl7's blog</a>
    <!-- <form class="ml-auto flex-1 sm:flex-initial">
      <div class="relative">
        <Search className="absolute left-2.5 top-2.5 h-4 w-4 text-muted-foreground" />
        <Input type="search" placeholder="Search in-site..." className="pl-8 sm:w-[300px] md:w-[200px] lg:w-[300px]" />
      </div>
    </form> -->
    <div class="ml-auto flex-1 sm:flex-initial"></div>
    <ThemeToggle client:load />
  </div>
</header>
