body {
  font-family: Roboto, Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

code {
  font-family: Source Code Pro, monospace;
}

:not(pre) > code {
  color: #50a14f;
}

a.heading-link {
  margin-right: 0.3rem;
  vertical-align: middle;
}

#toc + ul, #toc + ul ul {
  padding-inline-start: 2em;
}

#toc + ul p {
  margin-top: 0;
  margin-bottom: 0;
}
