body {
  font-family: Roboto, Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

code {
  font-family: Source Code Pro, monospace;
}

div.post-html img:not(.resp-image-vert) {
  max-width: 100%;
  height: auto;
}

div.post-html img.resp-image-vert {
  max-height: 100vh;
  width: auto;
}

:not(pre) > code {
  color: #50a14f;
}
